aside a {
    font-weight: bold;
    font-size: 1.3rem;
    text-decoration: none;
    color: var(--side-link);
}

aside a:hover {
    color: var(--primary);
}

aside .user {
    display: flex;
    gap: 1rem;
    align-items: center;
}

aside .user-avatar {
    border: 2px solid var(--secondary-foreground);
    border-radius: 50%;
    padding: 0.2rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

aside .user-avatar img {
    width: 6rem;
    height: 6rem;
    border-radius: 50%;
}

aside .user-info {
    flex: 1;
    overflow-x: hidden;
}

aside .user-info .user-username {
    font-weight: bold;
    margin-bottom: 0.5rem;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

aside .user-info .user-name {
    color: var(--secondary-foreground);
    font-size: 1.5rem;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

aside .card {
    margin: 2rem 0;
}

aside .card .card-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 2rem;
}

aside .card .card-header .card-title {
    color: var(--secondary-foreground);
    font-size: 1.5rem;
    font-weight: bold;
}

aside .card .card-header .card-actions a {
    font-size: 1.3rem;
    color: var(--primary);
    font-weight: bold;
}

aside .card-body {
    display: flex;
    flex-direction: column;
    gap: 1.3rem;
}

aside .card-body .suggestion-item {
    display: flex;
    align-items: center;
    gap: 1rem;
}

aside .card-body .suggestion-avatar img{
    width: 5rem;
    height: 5rem;
    border-radius: 50%;
}

aside .card-body .suggestion-info {
    flex: 1;
}

aside .card-body .suggestion-name {
    display: block;
    font-weight: bold;
    font-size: 1.5rem;
    color: var(--primary);
    margin-bottom: 0.2rem;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

aside .card-body .suggestion-text {
    display: block;
    color: var(--secondary-foreground);
    font-size: 1.4rem;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

